In [1]:
import pandas as pd
import numpy as np

In [2]:
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recoveries_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
latest_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/08-01-2021.csv')
us_medical_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports_us/08-01-2021.csv')

In [3]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,143439,143439,144285,145008,145552,145996,146523,146523,146523,147985
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132853,132875,132891,132922,132952,132999,133036,133081,133121,133146
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,160868,162155,163660,165204,167131,168668,170189,171392,172564,173922
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,14498,14498,14577,14586,14586,14655,14678,14678,14678,14747
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,41736,41780,41879,42110,42288,42486,42646,42777,42815,42970

In [4]:
deaths_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,6357,6357,6477,6515,6577,6615,6677,6677,6677,6774
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2456,2456,2456,2456,2457,2457,2457,2457,2457,2457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,4042,4063,4087,4112,4161,4189,4219,4254,4291,4329
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,128,128,128,128
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,982,984,991,994,1000,1003,1008,1011,1016,1018

In [5]:
recoveries_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21,7/29/21,7/30/21,7/31/21,8/1/21,8/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,82586,82586,82586,82586,82586,82586,82586,82586,82586,82586
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,130125,130139,130152,130166,130174,130187,130205,130222,130243,130256
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,109951,110577,111322,112050,112900,113707,114531,115276,116009,116770
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13988,13988,14077,14113,14113,14180,14210,14210,14210,14296
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,35423,35474,35686,35742,35964,36025,36708,37255,37397,38360

In [6]:
latest_data.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-08-02 04:21:36,33.93911,67.709953,146523,6677,82586.0,57260.0,Afghanistan,376.391586,4.556964
1,NaN,NaN,NaN,Albania,2021-08-02 04:21:36,41.15330,20.168300,133121,2457,130243.0,421.0,Albania,4625.790534,1.845689
2,NaN,NaN,NaN,Algeria,2021-08-02 04:21:36,28.03390,1.659600,172564,4291,116009.0,52264.0,Algeria,393.523137,2.486614
3,NaN,NaN,NaN,Andorra,2021-08-02 04:21:36,42.50630,1.521800,14678,128,14210.0,340.0,Andorra,18996.958519,0.872053
4,NaN,NaN,NaN,Angola,2021-08-02 04:21:36,-11.20270,17.873900,42815,1016,37397.0,4402.0,Angola,130.270343,2.373000

In [7]:
us_medical_data.head()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2021-08-02 04:30:45,32.3182,-86.9023,587405,11536,NaN,NaN,1.0,11980.070097,2756534.0,NaN,1.963892,84000001.0,USA,56219.253404,NaN
1,Alaska,US,2021-08-02 04:30:45,61.3707,-152.4044,75486,389,NaN,NaN,2.0,10318.709034,2496001.0,NaN,0.515327,84000002.0,USA,341195.825274,NaN
2,American Samoa,US,2021-08-02 04:30:45,-14.2710,-170.1320,0,0,NaN,NaN,60.0,0.000000,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN
3,Arizona,US,2021-08-02 04:30:45,33.7298,-111.4312,929541,18251,NaN,NaN,4.0,12770.670985,10737481.0,NaN,1.963442,84000004.0,USA,147518.869053,NaN
4,Arkansas,US,2021-08-02 04:30:45,34.9697,-92.3731,388436,6157,NaN,NaN,5.0,12871.478731,3318720.0,NaN,1.585075,84000005.0,USA,109971.356655,NaN

## What you can do with the data: <br>
1. visualize the trend (using time series models such as moving average etc.)
- worldwide
- certain country (especially with large number of cases)
- categorize (confirmed, death, recovered etc. can make them on same or different graphs)
- trendlines or bar graph
2. predict the future cases
- worldwide
- certain country (especially with large number of cases)
- categorize (confirmed, death, recovered etc. can make them on same or different graphs)
- trendlines or bar graph
3. color-code or highlight countries that has large amount of cases (confirmed, death, recovered etc.)